.kotak {
    width: auto;
    height: 900px;
    background-color: rgb(255, 251, 0);
  color:rgb(255, 0, 0)

  }
  
  .kotak2 {
    width: 200px;
    height: 500px;
    background-color: rgb(51, 255, 0);
  }
  
  .kotak3 {
    width: 200px;
    height: 100px;
    background-color: rgb(255, 0, 0);
  }
  
